/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* asterisk wild card selector*/
* {
   padding: 0%;
   margin: 0%;
   box-sizing: border-box;
}

/*header*/
header {
    font-family: 'oswald', sans-serif;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    background-color:white;
    color: forestgreen;
    width: 100%;
    box-shadow: forestgreen 5px 5px ;
    display: flex;
    justify-content: space-between;
    align-items: baseline;


}


header a {
    text-decoration: none;
    color:forestgreen;
       

}


/* Main */
main{
    flex: 1 0 auto;
    margin-top: 47px;
    display: flex;
    flex-direction: column;


}

/* Sign id  */
#sign{
    background-image: url(../images/pizza-napoletana-napoli-tomato-sauce-mozzarella-basil-pizza-napoletana-napoli-tomato-sauce-mozzarella-basil-202023557.webp);
    background-size: cover;
    background-position: 70%;
    padding: 15px 10% 0 10%;
    flex-grow: 1;

}

#sign-form{
    color: white;
    background-color: rgba(0, 6, 10, 0.441);
    padding: 20px;

}

#sign-form h2{
  color: white;
  margin-bottom: 20px;
}
/* Text input class */
.text-input {
    background: transparent;
    color: white;
    width: 100%;
    height: 30px;
    margin: 10px 0 10px 0;
    border: 1px solid white;
    padding: 0 5px;
    border-radius: 3px;
}
/* Button class */
.button{
    border-radius: 3px;
    background-color: forestgreen;
    color: white;
    margin-top: 30px;
    font-size: medium;
    padding:5px 5px;

}




/* id Pizza Party */
#pizza-party {
    height:800px;
    width: 100%;
    background: url("..//images/pizza-margherita-napoli.jpeg") no-repeat center center/cover;
    position: relative;
}



/* Text Cover id */
#text-cover{
    background-color: rgba(245, 72, 72, 0.661);
    font-size:larger;
    position: absolute;
    bottom: 25px;
    width: 80%;
    min-height: 122px;
    padding-top: 3px;
    padding-left: 10px;
}

#text-cover > h2, #text-cover > h3 {
 color: wheat;
}

/* picture id gallery */

#gallery img{
    width: 100%;
    line-height: 16px;

}

#gallery{
    line-height: 0;
}

/*footer*/
#social {
    text-align: center;
    padding: 15px 0;
    display: flex;
    justify-content:space-evenly;
    list-style-type: none;
}


#social i {
    font-size: large;
    color: black;
}

/* Padding */
padding{
    background-color:forestgreen;
}


/* Body */
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'lato', sans-serif;
}



h1,h2,h3{
    text-transform:uppercase;
    font-family:'oswald', sans-serif;
    letter-spacing: 2px;
    

}



/* id and class Lists */
#list {
list-style-type: none;
letter-spacing: normal;
font-size: 110%;
}

#list > li{
    margin-bottom: 1em;
}

.list{
    border-bottom: 1px solid;
}

/*navbar styles with drop down*/
nav {
    position: absolute;
    background-color:white;
    width: 100%;
    left: 0;
    box-shadow: 0 0 2px 2px forestgreen;
    padding:0 1rem;
    display: none;
    top:100%;

}

#nav-toggle:checked~nav{
    display: block;
}

#nav-toggle{
display:none;
}





/* Media query phones (small sizes of screens.) */
@media screen and (min-width:576px) {
    #gallery {
        column-count: 1;
        column-gap: 0;
    }
 

}

/*media query tablets*/

@media screen and (min-width:768px) {

  

    
    




    nav{
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;

    }

    #list {
        display: flex;

    }

    #list > li {
        padding-left: 40px;
    }

    .nav-toggle-label{
        display: none;
    }


    #pizza{
       font-size:large;
       line-height: 100px;
       margin: 0 0.7rem;
    }


    /* main content*/
    main {
        /* Push main content down to accommodate larger header*/
        margin-top: 79px;
    }


 #i,#z{
     display: flex;
     flex-direction: column;
     width: 100%;
 }
 
#i > div
#z > div{
    width:75%;
}

#z > div {
    text-align: end;
    align-self: flex-end;
}
/* Media query laptops  */
@media screen and (min-width: 992px) {
    #list a:hover {
       border-bottom: 1px solid forestgreen;

    }
}


  #gallery {
    column-count: 2;
    column-gap: 0;
}

}

/* Id Text Cover */
#text-cover{
    width: 300px;
    left: 50px;
}
/* id p  */
#p {
    width: 90%;
    margin: 20px auto;
}

#p h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 280%;
}
/* Id Divs (i,z)*/
#i > div,
#z > div {
    line-height: 30px;
    margin-bottom: 30px;
}
/* Id a */
#a p {
    padding: 10px 10px;
}

hr {
    border-top: 2px solid darkred;
    margin: 10px 0 ;
    

}

/* Id circle cover */
#circle-cover{
    background: url('..//images/Sensational-Sides-and-Salads-for-pizza-800x550.jpeg') no-repeat center center/cover;
    height:90vw;
    width:90vw;
    margin-bottom: 20px;
    border-radius: 50%;
    max-width: 200px;
    max-height: 200px;

}
/* Id image */
#a-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Id Times (and Times div)*/
#times{
    background: url('..//images/pizza-napoletana-napoli-tomato-sauce-mozzarella-basil-pizza-napoletana-napoli-tomato-sauce-mozzarella-basil-202023557.webp') no-repeat center center/cover;
    display:flex;
    flex-wrap: wrap;
}

#times div{
   color:white;
   background-color:rgba(0, 0, 0, 0.399);
   padding: 10px;
   text-align:center;
   border-radius:100%;
   position:relative;
}

/* Maps, Locations and Localizations. */
#maps{
    width: 100%;
}

#location{
    width: 100%;
}



#localization{
    width: 100%;
}

/*  id Menu Love (menu and menu love div) */
#menu-love{
    background:url('..//images/Sensational-Sides-and-Salads-for-pizza-800x550.jpeg') no-repeat center center/cover;
    flex-wrap:wrap;
    text-align: center;
    display:center;






}

#menu{
    color:green;
    text-transform: uppercase;

}


#menu-love div {
    border: 100%;
    background-color: #00000093;
    text-transform:capitalize;
    color: white;
    text-align: center;
    position: relative;
    padding: 30px;
    

}
   



